@use "@angular/material" as mat;

@mixin app-mat-form-field($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  &.mat-form-field-appearance-outline {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-flex > .mat-form-field-infix {
      padding: 1px 0 5px 0;
    }

    .mat-form-field-flex > .mat-form-field-outline-thick {
      color: rgba(mat.get-color-from-palette($primary, default), 0.25);
    }

    .mat-form-field-label-wrapper {
      top: -1.5rem;
    }

    .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-0.359375em) scale(0.75);
      width: 133.33333%;
    }
  }

  &.mat-form-field-appearance-fill {
    /* Hide the underline transparent when not focus */
    .mat-form-field-underline {
      display: none;
    }
    /* Set background and border style */
    .mat-form-field-flex {
      border-radius: 5px;
      padding: 10px;
    }
    /* Set input label */
    .mat-form-field-infix {
      padding: 0;
      border-top: 0;
    }
  }
}
