@use "@angular/material" as mat;

@mixin custom-input-style-base($background-color: rgba(248, 248, 248, 1)) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-flex > .mat-form-field-infix {
    padding: 1px 0 5px 0;
  }

  .mat-form-field-flex > .mat-form-field-outline-thick {
    color: rgba(mat.get-color-from-palette($primary, default), 0.25);
  }

  .mat-form-field-label-wrapper {
    top: -1.5rem;
  }

  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-0.359375em) scale(0.75);
    width: 133.33333%;
  }
}

mat-form-field {
  @include custom-input-style-base;
}
